[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
selenium = "*"
nose = "*"

[packages]
toml = "*"
Django = "*"
python-dotenv = "*"
dnspython = "*"
djongo = "*"
django-crispy-forms = "*"
gunicorn = "*"
whitenoise = "*"
markdown = "*"

[requires]
python_version = "3.6"
