[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
selenium = "*"

[packages]
toml = "*"
Django = "*"
pymongo = "*"
mongoengine = "*"
python-dotenv = "*"
dnspython = "*"

[requires]
python_version = "3.6"
