{% extends "wiki/base.html" %}
{% load markdown_extras %}
{% block content %}
  <div class="media-body">

    <!-- Header-->
    <h2 class="article-title">{{ article.title }}</h2>
    <div class="article-metadata">
      <small class="text-muted">Written by: {{ article.author }}, last edited: {{ article.date_edited}}</small>
    </div>

    <!-- Summary -->
    <div class="row">
      <div class="col-sm-6">
        <p class="article-content">{{ article.content | markdown | safe }}</p>
      </div>
      <div class="col-sm-6">
        <p>
          <table style="width:100%">
            {% if article.language %}<tr><th>Language</th><th>{{ article.language }}</th></tr> {% endif %}
            {% if article.population %}<tr><th>Population</th><th>{{ article.population }}</th></tr> {% endif %}
            {% if article.religion %}<tr><th>Religion</th><th>{{ article.religion }}</th></tr> {% endif %}
          </table>
        </p>
      </div>
    </div>

    <!-- Content sections-->
    {% if article.etymology %} <h2>Name</h2><hr> {{ article.etymology | markdown | safe }} {% endif%}
    {% if article.history %} <h2>History</h2><hr> {{ article.history | markdown | safe }} {% endif%}
    {% if article.climate %} <h2>Climate</h2><hr> {{ article.climate | markdown | safe }} {% endif%}
    {% if article.rule %} <h2>Rule</h2><hr> {{ article.rule | markdown | safe }} {% endif%}
    {% if article.military %} <h2>Military</h2><hr> {{ article.military | markdown | safe }} {% endif%}
    {% if article.locations %} <h2>Locations</h2><hr> {{ article.locations | markdown | safe }}  {% endif%}
    {% if article.other %} <h2>Other</h2><hr> {{ article.other | markdown | safe }} {% endif%}

  </div>
{% endblock content %}