{% load static %}
<!DOCTYPE html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'wiki/main.css' %}">
    {% if title %}
      <title>Edengard - {{ title }}</title>
    {% else %}
      <title>Edengard</title>
    {% endif %}
</head>

<body>

    <!-- Navigation -->
    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand mr-4" href="{% url 'wiki-home' %}">Edengard</a>
                    <div class="navbar-nav mr-auto"></div>
                    <!-- Navbar Right Side -->
                    <div class="navbar-nav">
                        <form class="mt-1" method="get" action="{% url 'search' %}">
                            <input type="text" name="q" placeholder="Search">
                        </form>
                        <div class="collapse navbar-collapse">
                        {% if user.is_authenticated %}
                          <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
                        {% else %}
                          <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                          <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
    </header>

   <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <ul class="list-unstyled components">
                <li class="active"><a href="{% url 'wiki-home' %}">Home</a></li>

                <hr>
                <li><a href="{% url 'wiki-country' %}">Countries</a></li>
                <li><a href="{% url 'wiki-specie' %}">Creatures</a></li>
                <li><a href="{% url 'wiki-city' %}">Cities</a></li>
                <li><a href="#">History</a></li>
                <li><a href="{% url 'wiki-language' %}">Languages</a></li>
                <li><a href="#">Lore</a></li>
                <li><a href="{% url 'wiki-religion' %}">Religion</a></li>
                <li><a href="#">Technology</a></li>
                <li><a href="{% url 'wiki-opus' %}">Writings</a></li>

                <hr>
                <li><a href="#">Random article</a></li>
            </ul>
        </nav>

        <!-- Page Content  -->
        <div class="container">
            {% if messages %}
              {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
              {% endfor %}
            {% endif %}
            {% block content %}{% endblock %}
        </div>
    </div>

    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
    </script>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>